body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.4s;
}
.panel {
    width: 600px;
    height: 400px;
    background-color: #272424;
    border-radius: 20px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.7);
    position: relative;
}

p{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    transform: translateX(33%);
    margin-bottom: -20px;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 15px;
    cursor: pointer;
}
#colorpicker {
    width: 60%;
    height: 50px;
    border-color: transparent;
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.range-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    background: #585858;
    border-radius: 5px;
    outline: none;
    margin: 0px -15px 0px 10px;
}

input[type="number"] {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 60px;
    margin-left: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}

#rangeInputRED{
    accent-color: #F60C0C;
}
#rangeInputGREEN{
    accent-color: #15F449;
}
#rangeInputBLUE{
    accent-color: #2474F6;
}
#rangeInputCYAN{
    accent-color: cyan;
}
#rangeInputMAGENTA{
    accent-color: magenta;
}
#rangeInputYELLOW{
    accent-color: yellow;
}
#rangeInputX{
    accent-color: white;
}
#rangeInputY{
    accent-color: white;
}
#rangeInputZ{
    accent-color: white;
}

.toast {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: opacity 0.5s linear, visibility 0s 0.5s;
    opacity: 0;
    border-left: 10px solid red;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;
}